.editor-container {
  margin-top: 2rem;
}

.palette-container {
  min-width: 270px;
  background-color: hsl(225deg 23.94% 94.34%);
  border-right: solid 1px hsl(225, 10%, 80%);
}

.canvas-container {
  height: calc(100vh - 3rem);
  overflow: auto;
  border: solid 1px hsl(225, 10%, 80%);
}

.right-container {
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(225deg 23.94% 94.34%);
  border-left: solid 1px hsl(225, 10%, 80%);
}
