.button {
  line-height: 20px;
  letter-spacing: 2px;
}

.button[type="submit"],
.button[type="reset"] {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid hsl(225, 10%, 55%);
  border-radius: 3px;
}

.button[type="submit"] {
  color: hsl(0, 0%, 100%);
  background-color: hsl(205, 100%, 40%);
  border-color: hsl(205, 100%, 40%);
}

.button[type="reset"] {
  color: hsl(225, 10%, 15%);
  background-color: transparent;
  border-color: hsl(225, 10%, 55%);
}

.button[type="submit"],
.button[type="reset"] {
  min-width: 100px;
  width: auto;
}

.button[type="submit"] {
  font-weight: 600;
}

.button[type="submit"]:focus,
.button[type="reset"]:focus {
  outline: 1px solid hsl(225, 10%, 55%);
}

.button[type="submit"]:focus {
  border-color: hsl(205, 100%, 40%);
}

.button[type="submit"]:disabled,
.button[type="reset"]:disabled {
  color: hsl(225, 10%, 35%);
  background-color: hsl(225, 10%, 95%);
  border-color: hsl(225, 10%, 75%);
}

.button[type="submit"]:read-only,
.button[type="reset"]:read-only {
  color: hsl(225, 10%, 35%);
  background-color: hsl(225, 10%, 95%);
  border-color: hsl(225, 10%, 75%);
}
