.top-nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  flex-shrink: 0;
  max-height: 48px;
  margin: 8px;
}

.top-nav-container .heading-container {
  display: flex;
  align-items: center;
}

.top-nav-container .heading-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(225, 10%, 15%);
  user-select: none;
}

.top-nav-container .buttons-container {
    display: flex;
    flex: 1;
    justify-content:center;
}
.top-nav-container .schema-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
